# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Data and indexes
*.index
*.faiss
*.sqlite
*.db

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log
*.log.*
*.out   

.txt
# Temporary files   
*.tmp
*.temp